@tailwind base;
@tailwind components;
@tailwind utilities;

.grayscale {
  filter: grayscale(1);
}
:root {
  --background: theme('colors.white');
  --background-primary: theme('colors.gray.50');
  --background-secondary: theme('colors.white');
  
  --secondary-accent-dark: theme('colors.gray.900');
  --secondary-accent: theme('colors.gray.800');
  --secondary: theme('colors.gray.700');

  --primary-accent-dark: theme('colors.gray.800');
  --primary-accent: theme('colors.deep-purple.accent-700');
  --primary: theme('colors.deep-purple.accent-400');
}

[data-theme='dark'] {
  --background: theme('colors.gray.200');
  --background-secondary: theme('colors.gray.800');

  --text-dark: theme('colors.teal.600');
  --text-medium: theme('colors.amber.500');
  --text-light: theme('colors.pink.500');

  --primary-dark: theme('colors.white');
  --primary-medium: theme('colors.lime.500');
  --primary-light: theme('colors.gray.100');
}

